doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery/3.4.1/jquery.min.js")
    script(src="/javascripts/project.js")
  body
    block content
